/* ######### Drop Down ULs CSS ######### */


.ddsubmenustyle, .ddsubmenustyle ul{ /*topmost and sub ULs, respectively*/
font: normal 13px Verdana;
margin: 0;
padding:0px 0 0 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px solid #f9a519;
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
padding-top:25px;
}

.ddsubmenustyle li a{
display: block;
width: 210px; /*width of menu (not including side paddings)*/
color:#ffffff;
background: black url("http://yum.jerrysnuthouse.com/website+images/bg-chalk-texture.jpg");
font:bold 14px/18px Verdana, Arial, Helvetica, sans-serif;
padding:5px 7px 7px 15px;
text-decoration: none;
border:0px solid #f9a519;
}

* html .ddsubmenustyle li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle li a:hover{
color:#98c132;
/* background:#730903; */
}








.ddsubmenustyle1, .ddsubmenustyle1 ul{ /*topmost and sub ULs, respectively*/
font: normal 13px Verdana;
margin: 0;
padding:0px 0 0 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px solid #f9a519;
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
}

.ddsubmenustyle1 li a{
display: block;
width: 210px; /*width of menu (not including side paddings)*/
color:#ffffff;
background: black url("http://yum.jerrysnuthouse.com/website+images/bg-chalk-texture.jpg");
font: 30px/32px Verdana, Arial, Helvetica, sans-serif;
padding:5px 7px 10px 15px;
text-decoration: none;
border:0px solid #f9a519;
}

* html .ddsubmenustyle1 li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle1 li a:hover{
color:#98c132;
/*background:#730903; */
}







.ddsubmenustyle2, .ddsubmenustyle2 div{ /*topmost and sub DIVs, respectively*/
font: normal 13px Verdana;
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: white;
border: 1px solid black;
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
}

.ddsubmenustyle2 ul{
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none;
}

.ddsubmenustyle2 li a{
display: block;
width: 170px; /*width of menu (not including side paddings)*/
color: black;
background-color: lightyellow;
text-decoration: none;
padding: 4px 5px;
border-bottom: 1px solid black;
}

* html .ddsubmenustyle2 li{ /*IE6 CSS hack*/
display: inline-block;
width: 170px; /*width of menu (include side paddings of LI A*/
}

.ddsubmenustyle2 li a:hover{
background-color: black;
color: white;
}




/* ######### Neutral CSS  ######### */

.downarrowpointer{ /*CSS for "down" arrow image added to top menu items*/
padding-left: 4px;
border: 0;
}

.rightarrowpointer{ /*CSS for "right" arrow image added to drop down menu items*/
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.ddiframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}