@charset "utf-8";
/* CSS Document */

div.row
{
    float:left;
    clear:both;
}

div.col
{
    float:left;
}

div#content_container
{
width:800px;
margin:auto;
}

/*begin styling for store elements on wordpress site*/
.qty_input_field
{
    display: block;
    height: 21px;
    width: 40px;
    margin-right:
    background: #f8f7ec;
    border: solid 1px #bfbfbf;
    text-align: center
}


div.shaded_background
{
    background-color:#cfe2f4;

}
/* End styling for store elements on wordpress site */


body
{
margin:0px auto;
padding:0px;
color:#000;
background:url(images/body-bg-new.jpg) left top repeat-x #fff;
font:normal 17px/24px Verdana, Arial, Helvetica, sans-serif;
}
.container
{
width:900px;
margin:0px auto;
position:relative;
}
.logo
{
left:341px;
top:0px;
position:absolute;
}
img
{
border:none;
margin:0px;
padding:0px;
outline:none;
}
a
{
/*color:#EAEABC;*/
color:#0000ff;
text-decoration:underline;
font-family: Arial, Helvetica, sans-serif;
outline:none;
}
a:hover
{
text-decoration:none;
font-family: Arial, Helvetica, sans-serif;
}
form
{
margin:0px;
padding:0px;
}
P
{
margin:16px 0px;
}
.left
{
float:left;
}
.right
{
float:right;
}
.footer
{
color:#3a3838;
font:normal 13px/16px Arial, Helvetica, sans-serif;
height:30px;
}

.footer-box-mid
{
background:url(images/footer-box-mid.png) left top repeat-x;
height:165px;
color:#a1a1a1;
font:normal 20px/20px Verdana, Arial, Helvetica, sans-serif;
}
.footer-box-mid a
{
text-decoration:underline;
color:#a1a1a1;
font:normal 20px/20px Verdana, Arial, Helvetica, sans-serif;
}
.footer-box-mid a:hover
{
text-decoration:none;
}
.newsletter
{
background:url(images/newsletter-mid.png) left top repeat-x;
}
.input-box-main
{
background:url(images/input-box.jpg) center top no-repeat;
width:229px;
height:27px;
display:block;
}
.input-box
{
width:209px;
padding-left:9px;
padding-right:9px;
height:27px;
background:none;
border:none;
color:#393737;
font:normal 13px/18px Arial, Helvetica, sans-serif;
}

.photo-main
{
position:relative;
width:273px;
height:291px;
}
.photo-main-text
{
position:absolute;
left:20px;
top:238px;
float:left;
}

.photo-main-home
{
position:relative;
width:220px;
height:291px;
}

.photo-main-text-home-right
{
position:absolute;
left:10px;
top:185px;
float:left;
}
.photo-main-text-home-center
{
position:absolute;
left:10px;
top:185px;
float:left;
}
.photo-main-text-home-left
{
position:absolute;
left:10px;
top:185px;
float:left;
}

.photo-big-main
{
position:relative;
}
.photo-big-main-text
{
position:absolute;
left:35px;
top:299px;
float:left;
}
/*.navcontainer
{
float:left;
margin:0px;
padding:85px 0 0 0;
}
.navcontainer ul
{
list-style-type:none;
display:inline;
margin:0px;
padding:0px;
}
.navcontainer ul li
{
background:url(images/menu-line.jpg) left 13px no-repeat;
padding-left:19px;
padding-right:19px;
padding-top:15px;
height:33px;
float:left;
}
.navcontainer ul li span
{
display:none;
}

.navcontainer1
{
float:right;
margin:0px;
padding:85px 0 0 0;
}
.navcontainer1 ul
{
list-style-type:none;
display:inline;
margin:0px;
padding:0px;
}
.navcontainer1 ul li
{
background:url(images/menu-line.jpg) right 13px no-repeat;
padding-left:19px;
padding-right:19px;
padding-top:15px;
height:33px;
float:right;
}
.navcontainer1 ul li:first-child
{
background:none;
}
.navcontainer ul li:first-child
{
background:none;
}
.navcontainer1 ul li span
{
display:none;
}

.product
{
background:url(images/product.png) left top no-repeat;
width:78px;
height:15px;
float:left;
}
.product:hover
{
background:url(images/product.png) left bottom no-repeat;
width:78px;
height:15px;
float:left;
}
.business
{
background:url(images/business.png) left top no-repeat;
width:206px;
height:18px;
float:left;
}
.business:hover
{
background:url(images/business.png) left bottom no-repeat;
width:206px;
height:18px;
float:left;
}
.jerry
{
background:url(images/jerry.png) left top no-repeat;
width:110px;
height:18px;
float:left;
}
.jerry:hover
{
background:url(images/jerry.png) left bottom no-repeat;
width:110px;
height:18px;
float:left;
}
.contact
{
background:url(images/contact.png) left top no-repeat;
width:94px;
height:14px;
float:left;
}
.contact:hover
{
background:url(images/contact.png) left bottom no-repeat;
width:94px;
height:14px;
float:left;
}

.blog
{
background:url(images/blog.png) left top no-repeat;
width:38px;
height:19px;
float:left;
}
.blog:hover
{
background:url(images/blog.png) left bottom no-repeat;
width:38px;
height:19px;
float:left;
}*/




.navcontainer
{
float:left;
margin:0px;
padding:85px 0 0 0;
}
.navcontainer ul
{
list-style-type:none;
display:inline;
margin:0px;
padding:0px;
}
.navcontainer ul li
{
background:url(images/menu-line.jpg) left 13px no-repeat;
float:left;
padding:0px 1px 0px 5px;
}
.navcontainer ul li span
{
display:none;
}

.navcontainer1
{
float:right;
margin:0px;
padding:85px 0 0 0;
}
.navcontainer1 ul
{
list-style-type:none;
display:inline;
margin:0px;
padding:0px;
}
.navcontainer1 ul li
{
background:url(images/menu-line.jpg) right 13px no-repeat;
float:right;
padding:0px 1px 0 5px;
}
.navcontainer1 ul li:first-child
{
background:none;
}
.navcontainer ul li:first-child
{
background:none;
}
.navcontainer1 ul li span
{
display:none;
}

.product
{
background:url(images/product.png) center top no-repeat;
width:109px;
height:48px;
float:left;
}
.product:hover
{
background:url(images/product.png) center bottom no-repeat;
}
.business
{
background:url(images/business.png) center top no-repeat;
width:237px;
height:48px;
float:left;
}
.business:hover
{
background:url(images/business.png) center bottom no-repeat;
}
.jerry
{
background:url(images/jerry.png) center top no-repeat;
width:151px;
height:48px;
float:left;
}
.jerry:hover
{
background:url(images/jerry.png) center bottom no-repeat;

}
.contact
{
background:url(images/contact.png) center top no-repeat;
width:128px;
height:48px;
float:left;
}
.contact:hover
{
background:url(images/contact.png) center bottom no-repeat;

}

.blog
{
background:url(images/blog.png) center top no-repeat;
width:68px;
height:48px;
float:left;
}
.blog:hover
{
background:url(images/blog.png) center bottom no-repeat;

}





.heading-text
{
font-family: 'JellykaEstryasHandwritingRegu','Savoye LET';
font-size:90px;
line-height:62px;
color:#000;
}
.heading-text-red
{
font-family: 'JellykaEstryasHandwritingRegu','Savoye LET';
font-size:90px;
line-height:62px;
color:#830a04;
}
h1
{
padding:0px;
margin:0px;
color:#830a04;
font:bold 20px/24px Verdana, Arial, Helvetica, sans-serif;
}
h1 a
{
padding:0px;
margin:0px;
color:#830a04;
font:normal 20px/24px Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}

h1 a:hover
{
padding:0px;
margin:0px;
color:#000;
font:normal 20px/24px Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}
h4
{
padding:0px;
margin:0px;
color:#830a04;
font:bold 16px/18px Verdana, Arial, Helvetica, sans-serif;
text-transform:none;
}

h2
{
padding:0px;
margin:0px;
color:#6d7470;
font:bold 13px/18px Verdana, Arial, Helvetica, sans-serif;
text-transform:none;
}

h2 a
{
color:#6d7470;
text-decoration:none;
}

h2 a:hover
{
color:#108b40;
}

h3
{
padding:0px;
margin:0px;
color:#6d7470;
font:normal 13px/18px Verdana, Arial, Helvetica, sans-serif;
text-transform:none;
}

h3 a
{
color:#6d7470;
text-decoration:none;
}

h3 a:hover
{
color:#108b40;
}
h5
{
padding:0px;
margin:0px;
color:#830a04;
font:bold 17px/18px Verdana, Arial, Helvetica, sans-serif;
text-transform:none;
}
h5 a
{
padding:0px;
margin:0px;
color:#830a04;
font:bold 17px/18px Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}

h5 a:hover
{
padding:0px;
margin:0px;
color:#000;
font:bold 17px/18px Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}

h6
{
padding:0px;
margin:0px;
color:#830a04;
font: 20px/24px Verdana, Arial, Helvetica, sans-serif;
}

h7
{
padding:0px;
margin:0px;
color:#830a04;
font: 18px/22px Verdana, Arial, Helvetica, sans-serif;
}

h7 a
{
padding:0px;
margin:0px;
color:#00F;
font:normal 18px/22px Verdana, Arial, Helvetica, sans-serif;
text-decoration:underline;
}

.body_cont a {
color:#00F;
font-weight:bold;
text-decoration:underline;
}

.body_cont a:hover{
color:#000;
}


.blog-nav
{
float:left;
padding:0px 0 10px 0;
margin:0px;
}
.blog-nav ul
{
list-style-type:none;
display:block;
margin:0px;
padding:5px 0 0 10px;
}
.blog-nav ul li
{
display:block;
list-style-type:none;
background:url(images/blt.png) 5px 7px no-repeat;
padding-left:19px;
padding-right:8px;
padding-top:3px;
padding-bottom:3px;
margin:0px;
color:#333333;
font:bold 13px/16px Verdana, Arial, Helvetica, sans-serif;
}
.blog-nav ul li a
{
text-decoration:none;
color:333333;
font:bold 13px/16px Verdana, Arial, Helvetica, sans-serif;
}
.blog-nav ul li a:hover
{
text-decoration:none;
color:#b60404;
}

.heading-bg
{
background:url(images/body-bg-new.jpg);
height:35px;
color:#f7edc9;
font:bold 14px/22px Verdana, Arial, Helvetica, sans-serif;
padding-left:11px;
}

.left-img
{
margin-right:25px;
margin-top:8px;
}

.input-box2
{
width:250px;
padding-left:9px;
padding-right:9px;
height:22px;
background:#fff;
border:1px solid #790a03;
color:#393737;
font:normal 13px/18px Arial, Helvetica, sans-serif;
margin:0px;
}
.input-box2-big
{
width:250px;
padding-left:9px;
padding-right:9px;
margin-left:6px;
height:200px;
background:#fff;
border:1px solid #790a03;
color:#393737;
font:normal 13px/18px Arial, Helvetica, sans-serif;
}

.submit-bt
{
background:url(images/submit1.jpg) left top no-repeat;
width:128px;
height:27px;
padding-bottom:5px;
font:bold 12px/13px Arial, Helvetica, sans-serif;
border:0px;
float:left;
color:#fff;
}
.comment-awaiting-moderation
{
font-style:normal;
}
.fn
{
font-style:normal;
}
.comment-author img
{
margin-right:10px;
}

.firstletter {
	float: left;
	font-size: 3em;
	line-height: .75;
	font-weight: bold;
	margin-right:3px;
}

.category-text {
       margin-left:100px;
       font:normal 17px/24px Verdana, Arial, Helvetica, sans-serif;
}

.category-text-center {  
       font:normal 17px/24px Verdana, Arial, Helvetica, sans-serif;
}

.table-home {
margin-top:-40px;
}

.feedme {
float:right;
position:absolute;
left:800px;
top:400px;
}